$darkcolor: #000000;
$lightcolor: #fafafa;
$maincolor: #008de8;
$darkaccenturecolor: #444444;

/* general */
.ms_bg_transparent{
    background-color: transparent !important;
}

.ms_border_b{
    border-bottom: 1px solid $darkaccenturecolor;
}

.ms_light_color{
    color: $lightcolor;
}

.ms_main_color{
    color: $maincolor;
}

.ms_ul{
    margin: 0;
}

.ms_cursor_pointer{
    cursor: pointer;
}

/* app */
.ms_app{
    background-color: $darkcolor;
    overflow-x: hidden;
    min-height: 100vh;
}

div.col-10{
    margin-left: 16.66666667%;
}

/* sidebar */
nav.ms_navbar{
    background-color: $darkcolor;
    border-right: 2px solid $darkaccenturecolor;
    *{
        color: $lightcolor;
    }
}

.ms_navlink{
    text-decoration: none;
    transition: .5s ease;
    &:hover{
        color: $lightcolor;
        background-color: $darkaccenturecolor;
    }
}

.ms_logo{
    height:30px;
    filter: invert(99%) sepia(0%) saturate(0%) hue-rotate(305deg) brightness(200%) contrast(96%);
    margin: 0 auto;
}

.ms_logo_small{
    height: 40px;
    margin: 0 auto;
}

.ms_icon{
    font-size: 2rem;
}

@media (min-width: 768px) {
    .ms_icon{
        font-size: 1rem;
    }
}

/* home */
.ms_container{
    width: 90%;
    margin: 0 auto;
}

.ms_img_gallery{
    height: 300px;
    width: 100%;
    object-fit: cover;
}


@media (min-width: 992px) {
    .ms_container{
        width: 30%;
    }

    .ms_img_gallery{
        height: 500px;
    }
}

.ms_100_vh{
    height: 100vh;
}

.ms_input_text{
    background-color: transparent;
    border: none;
    border-bottom: 1px solid $darkaccenturecolor;
    color: $lightcolor;
    width: 100%;
    &:focus{
        outline: none;
    }
}